@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
  <h3 class="display-4">Animal Shelter!</h3>
  <p>See all <a href="/dogs">dogs!</a></p>
  <p>See all <a href="/cats">cats!</a></p>
</div>