@{
  ViewData["Title"] = $"Delete {Model.Name}";
}

@model AnimalShelterClient.Models.Cat

<h4>Are you sure you want to remove @Model.Name from the shelter?</h4>

@using (Html.BeginForm())
{
  <input type="submit" value="Delete" class="btn btn-primary"/>
}

@Html.ActionLink("Back to details", "Details", new { id = @Model.CatId})